<nav class="barraLateral fechado" >
  <header>
    <div class="image-text">
      <div class="text logo-text">
        <a href="/menu" style="color:white"><span class="name">Menu</span></a>
      </div>
    </div>
    <!-- Botão Abre Menu -->
    <i class='bx bx-chevron-right toggle'></i>
    <!-- Botão Abre Menu -->
  </header>

  <div class="menu-barForm" >
    <div class="menu" style="position:relative;" >

      <!--
          <li class="search-box">
              <i class='bx bx-search icon'></i>
              <input type="text" placeholder="Buscar...">
          </li> -->

      <ul class="menu-links">

        <li class="navbar-link" id="botaoHome">
          <a href="/formularios">
            <i class='bx bx-home-alt icon'></i>
            <span    style="font-size:12px;" class="text nav-text">Home</span>
          </a>
        </li>

        <% if(acesso.FERIAS || acesso.RESCISAO || acesso.ALTERACAO_CADASTRAL ) {%>
        <li class="navbar-link dropdown">
          <a href="#" class="dropdown-toggle dropdown-toggleForm">
            <i class='bx bxs-copy-alt icon'></i>
            <span class="text nav-text"    style="font-size:12px;">Formulários</span>
          </a>
          <ul class="sub-menuForm" style="position:absolute;top:100%;left:0;">
            <% if(acesso.ALTERACAO_CADASTRAL) {%>
            <li class="central"><a class=" text nav-text" onclick="formAlteracao()" href="#"
              style="font-size:11px;"> <i class='bx bx-file icon'></i>Alteração de Cadastro</a></li>
              <% }%>

              <% if(acesso.RESCISAO) {%>
              <li class="central"><a class=" text nav-text" onclick="formDesligamento()" href="#"
                style="font-size:11px;"> <i class='bx bx-file icon'></i>Desligamento</a></li>
                <% }%>

              <% if(acesso.FERIAS) {%>
            <li class="central"><a class=" text nav-text" onclick="formFerias()" href="#"
                  style="font-size:11px;"> <i class='bx bx-file icon'></i> <% if(tipoRegime == 'C'){%> Férias <%} else {%> Recesso  <%}%> </a></li>
                 <% }%>

           <li class="central"><a class=" text nav-text" onclick="consultarFormularios()" href="#"
                style="font-size:11px;"> <i class='bx bx-search icon'></i> Consultar Formulários</a></li>
          </ul>
        </li>

        <div class="relativeForm1" id="relativeForm1">
          <li class="navbar-link dropdown">
            <a href="#" class="dropdown-toggle dropdown-toggleForm1">
              <i class='bx bx-info-circle icon'></i>
                            <span  style="font-size:12px;"  class="text nav-text">Instruções</span>
            </a>
            <ul class="sub-menuForm1" style="position:absolute;top:100%;left:0;">
              <% if(acesso.ALTERACAO_CADASTRAL) {%>
              <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1aF39R4CMlUTd_W1cWT3D2QUfeQ5KXJQe/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                  style="font-size:11px;"> <i class='bx bx-file icon'></i>Alteração Cadastral </a></li>
                  <% }%>
                  <% if(acesso.RESCISAO) {%>
              <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1ghYgwciOlKLTM4-j0XwtMhvn5hLTPiZv/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                  style="font-size:11px;"> <i class='bx bx-file icon'></i>Desligamento (CLT e Aprendiz)  </a></li>
              <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1Jxaq0Ba0THMh59kPUz_MmrpWVY22xrY3/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                style="font-size:11px;"> <i class='bx bx-file icon'></i>Encerramento – Estagiário  </a></li>
              <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1px69EIa_ZpL8CWECBCzrrd8MrInHPv5O/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                style="font-size:11px;"> <i class='bx bx-file icon'></i>Encerramento – PJ </a></li>
                <% }%>
                <% if(acesso.FERIAS) {%>
                  <% if(tipoRegime == 'C') {%>
              <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1K9TNN4s7djBen8l70JsM0SnMIO-7IrXd/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                style="font-size:11px;"> <i class='bx bx-file icon'></i>Férias  </a></li>
                <% } else {%>
                <li class="central"><a class=" text nav-text" href="https://drive.google.com/file/d/1ioChQzT-m-rRo0JKnucslih3emzd64V7/view?usp=share_link"  target="_blank" rel="noopener noreferrer"
                  style="font-size:11px;"> <i class='bx bx-file icon'></i>Recesso  </a></li>
                  <% }%>
                  <% }%>
            </ul>
          </li>
          <% } else{%>
            <% }%>
          <div class="relatives2" id="relatives2">
                   </div>

          <!-- <div class="relatives3" id="relatives3">
            <li class="navbar-link dropdown">
                <a href="#" class="dropdown-toggle dropdown-toggle3">
                  <i class='bx bx-briefcase icon'></i>
                  <span  style="font-size:12px;"  class="text nav-text">Instruções</span>
                </a>
                <ul class="sub-menu2" style="position:absolute;top:100%;left:0;">
                  <li class="central"><a class=" text nav-text" onclick="incluirNota()" href="#"
                      style="font-size:11px;"> <i class='bx bx-archive icon'></i>Enviar NF</a></li>
                  <li class="central"><a class=" text nav-text" onclick="buscarNotas()" href="#"
                      style="font-size:11px;"> <i class='bx bx-search icon'></i> Consultar NF</a></li>
                </ul>
              </li>
          </div> -->
        </div>

      </ul>
    </div>
  </div>
    <div class="bottom-content" >
      <li class="">
        <a id="sair_usuario" onclick="sair()">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Sair</span>
        </a>
      </li>

      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <div id="mudarDark">
          <span class="mode-text text " style="color: black;">Dark mode</span>
        </div>


        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>

    </div>

  <span id="feriasPermissao" style="display: none;"><%=acesso.FERIAS%></span>
  <span id="desligPermissao" style="display: none;"><%=acesso.RESCISAO%></span>
  <span id="alterPermissao" style="display: none;"><%=acesso.ALTERACAO_CADASTRAL%></span>

</nav>

<script src="/public/template/menu/menuForms.js"></script>
