<!DOCTYPE html>
<html lang="en">
<%- include('../../../partials/head', { title: 'Home' } ) %>
    <script src="/public/home/Home.js"></script>
    <link rel="stylesheet" href="../../../public/global.css">
    <link rel="stylesheet" href="../../../public/home/Home.css">


    <body>

        <%- include('../../../components/menuForms') %>

            <section class="home">
                <%- include('../../../components/navbar') %>
                    <div class="text">
                        <h1 style="margin-bottom: 3%;" class="textoBody"></h1>

                        <div  class="jumbotron">
                          <div class="container">
                            <h3 class="display-">Olá, <%= nome%>!</h3>
                            <p style="font-size: 15px; margin-top: 5%;" >Solicite e acompanhe os status das suas requisições.</p>
                            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
                          </div>
                        </div>

                        <div class="container">
                          <!-- Example row of columns -->
                          <div class="row">
                            <% if(acesso.FERIAS) {%>
                            <div style="font-size: 11px;" class="col-md-4">
                              <h5>Férias</h5>
                              <br>
                              <p Align="justify" style="font-size: 11px;">A solicitação de férias deverá ser aprovada pela chefia imediata no sistema após o envio. </p>
                              <p Align="justify">  Após a aprovação, o Departamento Pessoal realizará a validação da informações e retornará se houve deferimento. Você também pode acompanhar as mudanças de status pelo e-mail.   </p>
                              <p><a  style="font-size: 12px;" class="btn btn-secondary" onclick="formFerias()"  role="button">Solicitar »</a></p>
                            </div>
                            <% }%>
                            <% if(acesso.RESCISAO) {%>

                            <div style="font-size: 11px;" class="col-md-4">
                              <h5>Desligamento</h5>
                              <br>
                              <p Align="justify">A solicitação de desligamento deverá ser aprovada pelo diretor(a) da área e diretor(a) de Recursos Humanos no sistema após o envio. </p>
                              <p Align="justify"> Após a aprovação, o Departamento Pessoal realizará a validação da informações e retornará se houve deferimento. Você também pode acompanhar as mudanças de status pelo e-mail.  </p>
                              <p Align="justify"><a style="font-size: 12px;"  class="btn btn-secondary" onclick="formDesligamento()"  role="button">Solicitar »</a></p>
                            </div>
                            <% }%>
                            <% if(acesso.ALTERACAO_CADASTRAL) {%>

                            <div style="font-size: 11px;" class="col-md-4">
                              <h5>Alteração Cadastral</h5>
                              <br>
                              <p  Align="justify">A solicitação de alteração cadastral deverá ser aprovada pelo diretor(a) da área e diretor(a) de Recursos Humanos no sistema após o envio. </p>
                              <p Align="justify"> Após a aprovação, o Departamento Pessoal realizará a validação da informações e retornará se houve deferimento. Você também pode acompanhar as mudanças de status pelo e-mail. </p>
                              <p Align="justify"><a style="font-size: 12px;"  class="btn btn-secondary" onclick="formAlteracao()"  role="button">Solicitar »</a></p>
                            </div>
                            <% }%>


                          </div>

                          <hr>

                        </div>
                    </div>

            </section>

    </body>

</html>
