<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../../../public/MenuPrincipal/menu.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <nav class="menu">

        <img src="../../public/Fotos/logoOriginal.png" class="logo" alt="">
        <ul>
            <li class="menu-option">
                <a class="menu-link" href="http://itonepbi/reports/browse">
                    <ion-icon name="grid"></ion-icon>
                    <h3>Dashboard</h3>
                </a>
            </li>

            <% if (dadosUser.permissoes.COMPRAS) { %>

                <li class="menu-option">
                    <a class="menu-link" href="/home">
                        <ion-icon name="cart-outline"></ion-icon>
                        <!-- <ion-icon name="wallet"></ion-icon> -->
                        <h3>Compras</h3>
                    </a>
                </li>
                <% } %>
                    <!-- <li class="menu-option">
                        <a class="menu-link" href="/home">
                            <ion-icon name="calendar"></ion-icon>
                            <h3>Calendário</h3>
                        </a>
                    </li> -->

                    <% if (dadosUser.permissoes.NOTA_FISCAL) { %>

                        <li class="menu-option">
                            <a class="menu-link" href="/home">
                                <ion-icon name="document"></ion-icon>
                                <h3>Notas</h3>
                            </a>
                        </li>
                        <% } %>

                            <% if (dadosUser.permissoes.FERIAS || dadosUser.permissoes.ALTERACAO || dadosUser.permissoes.RESCISAO) { %>

                                <li class="menu-option">
                                    <a class="menu-link" href="/formularios">
                                        <ion-icon name="newspaper"></ion-icon>
                                        <h3>Movimentação</h3>
                                    </a>
                                </li>
                                <% } %>

                                    <% if (dadosUser.permissoes.ADMISSAO) { %>

                                        <li class="menu-option">
                                            <a class="menu-link" href="/vagas">
                                                <ion-icon name="people"></ion-icon>
                                                <h3>Vagas</h3>
                                            </a>
                                        </li>
                                        <% } %>
        </ul>
    </nav>
</body>
