<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../../../public/MenuPrincipal/menu.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="shortcut icon" type="imagex/png" href="../../public/Fotos/logo-it-one-novo-1.ico">

</head>

<body>
    <nav class="menu">

        <img src="../../public/Fotos/logoOriginal.png" class="logo" alt="">
        <ul>
            <li class="menu-option">
                <a class="menu-link" href="http://itonepbi/reports/browse" target="_blank" rel="noopener noreferrer">
                  <ion-icon name="bar-chart-outline"></ion-icon>
                                                        <h3>Dashboards</h3>
                </a>
            </li>

            <li class="menu-option">
              <a class="menu-link" href="https://www.argoit.com.br/maactravel/default.aspx?cliente=itone" target="_blank" rel="noopener noreferrer">
                <ion-icon name="airplane-outline"></ion-icon>
                                  <h3>MAAC Travel</h3>
              </a>
          </li>

            <% if (dadosUser.permissoes.COMPRAS) { %>

                <li class="menu-option">
                    <a class="menu-link" href="/home">
                        <ion-icon name="cart-outline"></ion-icon>
                        <!-- <ion-icon name="wallet"></ion-icon> -->
                        <h3>Compras</h3>
                    </a>
                </li>
                <% } %>
                    <!-- <li class="menu-option">
                        <a class="menu-link" href="/home">
                            <ion-icon name="calendar"></ion-icon>
                            <h3>Calendário</h3>
                        </a>
                    </li> -->

                    <% if (dadosUser.permissoes.NOTA_FISCAL) { %>

                        <li class="menu-option">
                            <a class="menu-link" href="/notafiscal">
                                <ion-icon name="document"></ion-icon>
                                <h3>Nota Fiscal</h3>
                            </a>
                        </li>
                        <% } %>

                            <% if (dadosUser.permissoes.FERIAS || dadosUser.permissoes.ALTERACAO || dadosUser.permissoes.RESCISAO) { %>

                                <li class="menu-option">
                                    <a class="menu-link" href="/formularios">
                                        <ion-icon name="newspaper"></ion-icon>
                                        <h3>Formulários de</h3>
                                        <h3>Movimentação</h3>

                                    </a>
                                </li>
                                <% } %>

                                    <% if (dadosUser.permissoes.ADMISSAO) { %>

                                        <!-- <li class="menu-option">
                                            <a class="menu-link" href="/vagas">
                                                <ion-icon name="people"></ion-icon>
                                                <h3>Vagas</h3>
                                            </a>
                                        </li> -->

                                        <% } %>
        </ul>
    </nav>
</body>
