<div class="modal fade" id="myModalFerias" style="font-size:14px;">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Férias</h4>
        <div id="statusModalFerias">
        </div>

      </div>

      <!-- Modal body -->
      <div id="modalBody" class="modal-body">
        <div>

          <!-- GAMBIARRA MODAL -->
          <!-- <label id="ModSolicitanteFerias" style="color: #b10000; "> </label> -->

          <div class="dados-modal">
            <div class="row g-3">
              <div class="col Solicitacao">
                <label>N° Solicitação: </label>
                <input id="NumeroSolicitacaoModalFerias" type="text" name="NumeroSolicitacaoModal"
                  for="NumeroSolicitacao" style="margin-bottom: 10%; font-size:13px" type="text" class="form-control"
                  readonly>

              </div>
              <div class="col DataSolcitacao">
                <label>Data da Solicitação:</label>
                <input id="ModDataSolcitacao" name="ModDataSolcitacao" for="ModDataSolcitacao"
                  style="margin-bottom: 10%; font-size:13px" type="text" class="form-control" readonly>
              </div>


            </div>

            <div class="row g-3">
              <div class="col ColaboradorFerias">
                <label>Colaborador: </label>
                <input id="ModColaboradorFerias" type="text" name="ModColaboradorFerias" for="ModColaboradorFerias"
                  style="margin-bottom: 6%; font-size:13px" type="text" class="form-control" readonly>

              </div>
            </div>
            <div class="row g-3">


            </div>

            <div class="row g-3">
              <div class="col abonoFerias">
                <label>Abono de Férias:</label>
                <input id="ModabonoFerias" for="ModabonoFerias" name="ModabonoFerias"
                  style="margin-bottom: 10%; font-size:13px" type="text" class="form-control" readonly>

              </div>

              <div class="col Adiantamento">
                <label>Adiantamento:</label>
                <input id="ModAdiantamento" for="ModAdiantamento" style="margin-bottom: 10%; font-size:13px" type="text"
                  class="form-control" readonly>
              </div>
            </div>

            <div class="row g-3">
              <div class="col DataInicio">
                <label>Data Início:</label>
                <input id="ModDataInicio" for="ModDataInicio" style="margin-bottom: 10%; font-size:13px" type="text"
                  class="form-control" readonly>

              </div>

              <div class="col DataFim">
                <label>Data Fim:</label>
                <input id="ModDataFim" for="ModDataFim" style="margin-bottom: 10%; font-size:13px" type="text"
                  class="form-control" readonly>
              </div>
            </div>


            <center>
              <div class="col-lg-6 numDias">
                <label>Número de Dias:</label>
                <input id="ModnumDias" for="ModnumDias" style="margin-bottom: 3%; font-size:13px" type="text"
                  class="form-control" readonly>
              </div>

            </center>
          </div>

          <div class="camposStatusFerias">
          </div>

          <div id="camposHistorico-F">

          </div>

          <div class="modal-footer">

            <div class="camposButtonFerias">
            </div>




          </div>
        </div>
      </div>


    </div>
  </div>
</div>
