<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', { title: 'Nova Solicitação' } ) %>
  <!-- <script src="/public/novaSolicitacao/novaSolicitacao.js"></script> -->
  <link rel="stylesheet" href="../../../public/global.css">
  <link rel="stylesheet" href="../../public/Movimentacao/Admissao/novaAdmissao.css">


<body>

    <%- include('../../components/menu') %>

        <section class="home">
            <%- include('../../components/navbar') %>

            <main class="text">
          
              <form style="margin-top: 3%">
                <h3 style="border-bottom:1px solid #120947;">Movimentação De Pessoal - Admissão</h3>
          
                <h5 style="border-bottom:1px solid #120947; margin-top: 3%;">Informações da Abertura de Vaga</h5>
                <div style="margin-top: 2%">
          
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                          <label for="EscolhadeAdmissão" class="form-label">Tipo De Admissão:</label>
                          <select id="tipoAdmissao" class="form-control border-secondar shadow-none"
                            aria-label="Default select example" required>
                            <option selected value="">Selecione...</option>
                            <option value="CLT">CLT</option>
                            <option value="Estagiário">Estagiário</option>
                            <option value="Jovem Aprendiz">Jovem Aprediz</option>
                            <option value="PJ">PJ</option>
                          </select>
                          <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="EscolhadeSubstuição" class="form-label">Substituição:</label>
                        <br>
                        <div class="form-check form-check-inline mt-2" style="align-items: center;">
                          <input class="form-check-input shadow-none" type="radio" name="radio01" id="radio01" value="Sim"
                            required>
                          <label class="form-check-label">Sim</label>
                        </div>
                        <div class="form-check form-check-inline" style="margin-left: 5%;">
                          <input class="form-check-input shadow-none" type="radio" name="radio01" id="radio02" value="Não"
                            required>
                          <label class="form-check-label">Não</label>
                        </div>
                      </div>
                      <label class="campo">* Campo obrigatório</label>
                    </div>
                  </div>
          
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Empregado Substituído:</label>
                        <input type="text" class="form-control border-secondar  shadow-none" id="empSubs"
                          aria-describedby="textHelp" required placeholder="empregado substituído">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Unidade de Contratação:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="unidadeContratacao"
                          aria-describedby="textHelp" required  placeholder="unidade contratação">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                  </div>
          
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Departamento:</label>
                        <select class="form-control border-secondar shadow-none" aria-label="Default select example"
                          id="opcaoDepartamento" required>
                          <option selected value="">Selecione...</option>
                          <option value="Administrativo">Administrativo</option>
                          <option value="CEO">CEO</option>
                          <option value="Comercial">Comercial</option>
                          <option value="Conselho Administrativo">Conselho Administrativo</option>
                          <option value="Gente e Cultura">Gente e Cultura</option>
                          <option value="Marketing">Marketing</option>
                          <option value="Pré Vendas">Pré Vendas</option>
                          <option value="Produtos">Produtos</option>
                          <option value="Serviços">Serviços</option>
                        </select>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Centro de Custos:</label>
                        <select class="form-control border-secondar shadow-none" aria-label="Default select example"
                          id="opcaocentroCustos" required>
                          <option selected value="">Selecione...</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Salário:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="salario"
                          aria-describedby="textHelp" required placeholder="salário">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                  </div>
          
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Cargo:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="cargo" aria-describedby="textHelp"
                          required placeholder="cargo">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Gestor Imediato:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="gestor"
                          aria-describedby="textHelp" required placeholder="gestor">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Tutor Durante o Onboarding:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="tutor" aria-describedby="textHelp"
                          required placeholder="tutor">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                  </div>
          
          
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Horário de Trabalho:</label>
                        <select class="form-control border-secondar shadow-none" aria-label="Default select example"
                          id="hrTrabalho" required>
                          <option selected value="">Selecione um Horário...</option>
                          <option value="6:30|12:00|13:00|15:30">6:30|12:00|13:00|15:30</option>
                          <option value="7:00|12:00|13:00|16:00">7:00|12:00|13:00|16:00</option>
                          <option value="7:00|12:00|13:00|19:00">7:00|12:00|13:00|19:00</option>
                          <option value="7:30|12:00|13:00|16:30">7:30|12:00|13:00|16:30</option>
                          <option value="7:00|12:00|14:00|17:30">7:00|12:00|14:00|17:30</option>
                          <option value="8:00/12:00">8:00/12:00</option>
                          <option value="8:00|12:00|13:00|17:00">8:00|12:00|13:00|17:00</option>
                          <option value="8:00|12:00|13:30|17:30">8:00|12:00|13:30|17:30</option>
                          <option value="8:00|12:00|14:00|18:00">8:00|12:00|14:00|18:00</option>
                          <option value="8:30|12:00|13:00|17:30">8:30|12:00|13:00|17:30</option>
                          <option value="8:30|12:00|13:30|18:00">8:30|12:00|13:30|18:00</option>
                          <option value="8:30|12:30">8:30|12:30</option>
                          <option value="9:00|12:00|13:00|18:00">9:00|12:00|13:00|18:00</option>
                          <option value="9:00|12:00|13:30|18:30">9:00|12:00|13:30|18:30</option>
                          <option value="9:00|12:00|14:00|19:00">9:00|12:00|14:00|19:00</option>
                          <option value="9:00|13:00">9:00|13:00</option>
                          <option value="10:00|12:00|13:00|19:00">10:00|12:00|13:00|19:00</option>
                          <option value="10:00|14:00">10:00|14:00</option>
                          <option value="11:00|14:00|15:00|20:00">11:00|14:00|15:00|20:00</option>
                          <option value="13:00|17:00">13:00|17:00</option>
                          <option value="13:00|18:00|19:00|22:00">13:00|18:00|19:00|22:00</option>
                          <option value="14:00|18:00">14:00|18:00</option>
                          <option value="14:00|19:00|20:00|23:00">14:00|19:00|20:00|23:00</option>
                          <option value="19:00|1:00|2:00|7:00">19:00|1:00|2:00|7:00</option>
                          <option value="22:00|2:00|3:00|7:00">22:00|2:00|3:00|7:00</option>
                          <option value="23:00|3:00|4:00|8:00">23:00|3:00|4:00|8:00</option>
                        </select>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Cliente:</label>
                        <input type="text" class="form-control border-secondar shadow-none" id="Cliente"
                          aria-describedby="textHelp" required placeholder="cliente">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Deal:</label>
                        <input type="text" class="form-control border-secondar shadow-nonev" id="deal" aria-describedby="textHelp"
                          required placeholder="deal">
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
                  </div>
          
                  <h5 style="border-bottom:1px solid #120947; margin-top: 1%;">Informações de Equipamentos e Acessos</h5>
                  <div style="margin-top: 1.5%">
          
                    <div class="row">
                      <div class="col">
                        <div class="mb-2">
                          <label for="EscolhadeSubstuição" class="form-label">Tipo de Equipamento:</label>
                          <br>
                          <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input shadow-none" type="radio" name="radio02" id="radio03" value="Desktop"
                              required>
                            <label class="form-check-label">Desktop</label>
                          </div>
                          <div class="form-check form-check-inline" style="margin-left: 5%;">
                            <input class="form-check-input shadow-none" type="radio" name="radio02" id="radio04" value="Notebook"
                              required>
                            <label class="form-check-label">Notebook</label>
                          </div>
                        </div>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                      <div class="col">
                        <div class="mb-2">
                          <label for="EscolhadeSubstuição" class="form-label">Cartão de Visita:</label>
                          <br>
                          <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input shadow-none" type="radio" name="radio03" id="radio05" value="Sim"
                              required>
                            <label class="form-check-label">Sim</label>
                          </div>
                          <div class="form-check form-check-inline" style="margin-left: 5%;">
                            <input class="form-check-input shadow-none" type="radio" name="radio03" id="radio06" value="Não"
                              required>
                            <label class="form-check-label">Não</label>
                          </div>
                        </div>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                      <div class="col">
                        <div class="mb-2">
                          <label for="EscolhadeSubstuição" class="form-label">Celular Corporativo:</label>
                          <br>
                          <div class="form-check form-check-inline mt-2" style="align-items: center;">
                            <input class="form-check-input shadow-none" type="radio" name="radio04" id="radio07" value="Sim"
                              required>
                            <label class="form-check-label">Sim</label>
                          </div>
                          <div class="form-check form-check-inline" style="margin-left: 5%;">
                            <input class="form-check-input shadow-none" type="radio" name="radio04" id="radio08" value="Não"
                              required>
                            <label class="form-check-label">Não</label>
                          </div>
                        </div>
                        <label class="campo">* Campo obrigatório</label>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col">
                        <div class="mb-3">
                          <label for="exampleInputText" class="form-label" style="margin-top: 5%;">Usuário Similar Ativo:</label>
                          <input type="text" class="form-control border-secondar  shadow-none" id="usuarioSimilar"
                            aria-describedby="textHelp" required placeholder="usuário similar ativo">
                          <label class="campo">* Campo obrigatório</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="mb-3">
                          <label for="exampleInputText" class="form-label" style="margin-top: 5%;">Acessos Específicos (Ex: SAP,
                            DASHBOARDS):</label>
                          <input type="text" class="form-control border-secondar shadow-none" id="acessEspecifico"
                            aria-describedby="textHelp" required placeholder="acessos específicos">
                          <label class="campo">* Campo obrigatório</label>
                        </div>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col">
                        <div class="mb-3">
                          <label for="exampleInputTextArea" class="form-label">OBSERVAÇÃO:</label>
                          <textarea type="text" class="form-control border-secondar shadow-none" id="OBS" rows="3"
                            style="resize: none; border-color: #120947;" readonly>Os acessos abaixo já são liberados automaticamente no dia do onboarding e MAAC, Uber, 99, Horizon, Outlook, Teams, portaria escritorio da localidade de contratação.
                          </textarea>
                        </div>
                      </div>
                    </div>
          
                    <h5 style="border-bottom:1px solid #120947; margin-top: 1%;">Observações Gerais</h5>
                    <div style="margin-top: 0.5%">
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="exampleInputTextArea" class="form-label" style="border-bottom:1px solid #120947;
                            font-size: 15px;">Negociação Diferenciada que for alinhada com o profissionals</label>
                            <textarea class="form-control border-secondar shadow-none" id="textareaOBS" required>
                            </textarea>
                            <label class="campo">* Campo obrigatório</label>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="mb-2">
                      <button type="button" id="botaoEnviar" class="btn btn-primary btn-lg" style="width: 15%;"
                        value="Submit">Enviar</button>
                    </div>
          
              </form>
          
          
            </main>


        </section>



</body>


</html>